:root {
  --background-dark: #000;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}
::-moz-selection {
  background: #bb0000;
}

::selection {
  background: ##bb0000;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Lato", sans-serif;
  margin: 0px;
}
.default:link,
.default:visited {
  color: #bb0000;
  text-decoration: none;
  font-size: 3vh;
}
.Red {
  color: #bb0000;
}
.title {
  margin: 30vh 10vw 10vh;
  padding: 0%;
  height: 60vh;
  font-size: 3.5vw;
}
.portrait {
  position: absolute;
  right: 0%;
  height: 100%;
}
.mainNav {
  display: block;
  font-size: 15vh;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.posNav {
  position: absolute;
  top: 15%;
  left: 20%;
}
.mainNav:hover {
  color: #bb0000;
  animation: select 1s;
}
@keyframes select {
  20% {
    font-size: 16vh;
  }
}
@keyframes select2 {
  20% {
    font-size: 2.1vw;
  }
}
.mainNav:hover span {
  display: none;
}

.about:hover:before {
  content: "ABOUT";
}
.portfolio:hover:before {
  content: "PORTFOLIO";
}
.work:hover:before {
  content: "WORK";
}
.contact:hover:before {
  content: "CONTACT";
}
.topleft {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 15%;
  max-width: 100%;
}
.bottomright {
  position: fixed;
  bottom: 0px;
  right: 0px;
  max-width: 100%;
  height: 20%;
}
.topRight {
  position: fixed;
  right: 0px;
  top: 0px;
}
.back {
  float: right;
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  font-size: 2vw;
}
.back:hover {
  color: #bb0000;
  animation: select2 1s;
}
ul {
  width: 100%;
  max-width: 50%;
  margin: 3% auto 0 auto;
  list-style-type: none;
}
li {
  margin: 4vw 0;
  text-align: left;
}
p {
  font-size: 3vh;
}
h2 {
  font-size: 6vh;
}
.noMargin {
  margin: 5px 0px 0px 0px;
}
li:first-child {
  margin-top: 0;
}
li:last-child {
  margin-bottom: 0;
}
li:nth-child(even) {
  text-align: right;
}

[data-reveal="content"] {
  display: inline-block;
  position: relative;
}
[data-reveal="cover"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
}
[data-reveal="text"] {
  opacity: 0;
}
[data-js="reveal"].loaded [data-reveal="cover"] {
  -webkit-animation: reveal-cover 1.5s ease-in-out;
  animation: reveal-cover 1.5s ease-in-out;
}
[data-js="reveal"].loaded [data-reveal="text"] {
  opacity: 1;
  -webkit-animation: reveal-text 1.5s ease-in-out;
  animation: reveal-text 1.5s ease-in-out;
}
@-webkit-keyframes reveal-cover {
  0% {
    width: 0;
    left: 0;
  }
  44% {
    width: 100%;
    left: 0;
  }
  54% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes reveal-cover {
  0% {
    width: 0;
    left: 0;
  }
  44% {
    width: 100%;
    left: 0;
  }
  54% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes reveal-text {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
}
@keyframes reveal-text {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
}
.socialImg {
  width: 80%;
}
.social,
.social:link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.social:hover {
  color: #bb0000;
  font-weight: bolder;
  cursor: pointer;
  animation: select3 1s;
}
.copy:hover span {
  display: none;
}

.copy:hover:before {
  content: "Copy to clipboard.";
}
td {
  padding: 5px;
}
table {
  padding-top: 20px;
  padding-bottom: 70px;
}
@keyframes select3 {
  20% {
    font-size: 22px;
  }
}
.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
